pipeline/SchemaDrift_ControlTbl.json
{
	"name": "SchemaDrift_ControlTbl",
	"properties": {
		"activities": [
			{
				"name": "CopySrcToStgSer",
				"type": "Copy",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlDWSource",
						"queryTimeout": "02:00:00",
						"partitionOption": "None"
					},
					"sink": {
						"type": "DelimitedTextSink",
						"storeSettings": {
							"type": "AzureBlobFSWriteSettings"
						},
						"formatSettings": {
							"type": "DelimitedTextWriteSettings",
							"quoteAllText": true,
							"fileExtension": ".txt"
						}
					},
					"enableStaging": false,
					"translator": {
						"type": "TabularTranslator",
						"typeConversion": true,
						"typeConversionSettings": {
							"allowDataTruncation": true,
							"treatBooleanAsNumber": false
						}
					}
				},
				"inputs": [
					{
						"referenceName": "SchemaSrc",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "SchemaStagingADLS",
						"type": "DatasetReference"
					}
				]
			},
			{
				"name": "DataFlowStgToDestSer_NoJoin",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "CopySrcToStgSer",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "SchemaTest_Str_NoJoin",
						"type": "DataFlowReference"
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Lookup1",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "DelimitedTextSource",
						"storeSettings": {
							"type": "AzureBlobFSReadSettings",
							"recursive": true,
							"enablePartitionDiscovery": false
						},
						"formatSettings": {
							"type": "DelimitedTextReadSettings"
						}
					},
					"dataset": {
						"referenceName": "SchemaControlTbl",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup1').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "CopySrcToStgSer_copy1",
							"type": "Copy",
							"dependsOn": [
								{
									"activity": "SetEntityVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetKeyVar",
									"dependencyConditions": [
										"Succeeded"
									]
								},
								{
									"activity": "SetQueryVar",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "CommonDataServiceForAppsSource",
									"query": {
										"value": "@concat(\nitem().query,\n    '<filter type=\"and\">\n      <condition attribute=\"modifiedon\" operator=\"lt\" value=\"',\nsubstring(replace(string(startOfHour(utcNow())),'T',' '),0,23),\n'\" />\n      <condition attribute=\"modifiedon\" operator=\"ge\" value=\"',\nsubstring(replace(string(string(startOfHour(addhours(utcNow(),-1)))),'T',' '),0,23),\n'\" />\n    </filter>\n  </entity>\n</fetch>\n'\n)",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "DelimitedTextSink",
									"storeSettings": {
										"type": "AzureBlobFSWriteSettings"
									},
									"formatSettings": {
										"type": "DelimitedTextWriteSettings",
										"quoteAllText": true,
										"fileExtension": ".txt"
									}
								},
								"enableStaging": false
							},
							"inputs": [
								{
									"referenceName": "DataverseEntity1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "SchemaStagingADLS",
									"type": "DatasetReference",
									"parameters": {
										"filename": {
											"value": "@concat(item().entity,'.csv')",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "DataFlowStgToDestSer_NoJoin_copy1",
							"type": "ExecuteDataFlow",
							"dependsOn": [
								{
									"activity": "CopySrcToStgSer_copy1",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataflow": {
									"referenceName": "SchemaTest_Str_NoJoin",
									"type": "DataFlowReference",
									"parameters": {
										"entity": {
											"value": "'@{item().entity}'",
											"type": "Expression"
										},
										"keycol": {
											"value": "'@{item().keycol}'",
											"type": "Expression"
										}
									}
								},
								"compute": {
									"coreCount": 8,
									"computeType": "General"
								},
								"traceLevel": "Fine"
							}
						},
						{
							"name": "SetEntityVar",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "entity",
								"value": {
									"value": "@item().entity",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetKeyVar",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "keycol",
								"value": {
									"value": "@item().keycol",
									"type": "Expression"
								}
							}
						},
						{
							"name": "SetQueryVar",
							"type": "SetVariable",
							"dependsOn": [],
							"policy": {
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"variableName": "query",
								"value": {
									"value": "@item().query",
									"type": "Expression"
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"entity": {
				"type": "String"
			},
			"keycol": {
				"type": "String"
			},
			"query": {
				"type": "String"
			}
		},
		"annotations": [],
		"lastPublishTime": "2026-02-06T08:10:24Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}