pipeline/SimpleTest.json
{
	"name": "SimpleTest",
	"properties": {
		"activities": [
			{
				"name": "ForEach1",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Set variable1",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@variables('Array')",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy data1",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "AzureMySqlSource",
									"queryTimeout": "02:00:00"
								},
								"sink": {
									"type": "AzureMySqlSink",
									"writeBatchSize": 10000,
									"writeBatchTimeout": "00:00:30"
								},
								"enableStaging": false,
								"translator": {
									"type": "TabularTranslator",
									"typeConversion": true,
									"typeConversionSettings": {
										"allowDataTruncation": true,
										"treatBooleanAsNumber": false
									}
								}
							},
							"inputs": [
								{
									"referenceName": "AzureMySqlTable1",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "AzureMySqlTable1",
									"type": "DatasetReference"
								}
							]
						}
					]
				}
			},
			{
				"name": "Set variable1",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "Array",
					"value": [
						1,
						1,
						1,
						1,
						5,
						1,
						1,
						1,
						1,
						5,
						1,
						1,
						1,
						1,
						5,
						1,
						1,
						1,
						1,
						5,
						1,
						1,
						1,
						1,
						5
					]
				}
			}
		],
		"variables": {
			"Array": {
				"type": "Array"
			}
		},
		"annotations": [],
		"lastPublishTime": "2025-08-13T05:22:09Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}